body
{
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;  
    padding: 40px; 
}
.wrapper
{
    display: flex;
    flex-direction: row-reverse;
    background: #ffffff;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Main content */
.main-content
{
    padding: 88px;
}

.main-content-title
{
    color: #000000;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 8px 0;
}

/* About me */
.my-profession
{
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin: 0 0 18px 0;
}

.my-name
{
    color: #000000;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    margin: 0 0 28px 0;
}

.my-descr
{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 525px;
}

.about-me-container
{
    margin-bottom: 64px;
}

/* Projects */
.project-item
{
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.project-list
{
    padding: 0 0 0 16px;
    margin: 0;
}

.projects-container
{
    margin-bottom: 48px;
}

.project-item-descr
{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.project-item-link
{
    color: #005FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    text-decoration-line: underline;
}

/* Work experience */
.work-experience-container
{
    margin-bottom: 44px;
}

.work-experience-position
{
    color: #000000;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.work-experience-place
{
    margin-bottom: 16px;
}

.work-experience-company
{
    color: #6D9BF5;
}

.work-period
{
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 12px 0 8px 0;
}

.work-duties
{
    color: #595959;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.work-duties-list
{
    padding: 0 0 0 18px;
    margin: 0; 
}

/* Education */
.education-place
{
    color: #6D9BF5;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 12px 0 12px 0;
}

.education-speciality
{
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    margin: 0 0 12px 0;
}

.education-period
{
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.text-devider
{
    color: #000000;
}

/* Sidebar */
.sidebar
{
    width: 370px;
    background: #E0EBFE;
}

.my-photo
{
    margin-top: 40px;
}

.contacts-container, .tech-skills-container, .soft-skills-container
{
    margin: 48px 0 0 40px;
}

.sidebar-title
{
    color: #161D2A;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;  
    margin-bottom: 8px;
}

/* Contacts-type */
.contacts-type
{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin-right: 8px;
}

.contacts-item
{
    margin: 0;
}

.contacts-number
{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.contacts-email
{
    color: #2979FF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

/* Tech Skills and Soft Skills */
.skills-list
{
    margin: 0;
    padding: 0 0 0 16px;
}

.skills-list-item
{
    color: #6D9BF5;
}

.skills-list-text
{
    color: #161D2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

@media screen and (max-width: 1270px)
{
    .wrapper
    {
        width: 100%;
    }
}

@media screen and (max-width: 995px)
{
    .main-content
    {
        padding-left: 40px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
    }
    .my-photo
    {
        width: 275px;
    }
}

@media screen and (max-width: 800px)
{
    .wrapper
    {
        flex-direction: column-reverse;
    }

    .sidebar
    {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .sidebar-content
    {
        padding-top: 0;
        padding-right: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .skill-row
    {
        display: flex;
        padding-right: 20px;
    }
}

@media screen and (max-width: 680px)
{
    body
    {
        padding: 0;
    }

    .sidebar
    {
        flex-direction: column;
        align-items: center;
    }

    .my-photo
    {
        margin-bottom: 20px;
        width: 350px;
    }

    .sidebar-content
    {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 480px)
{
    .main-content
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    .skill-row
    {
        flex-direction: column;
        padding-right: 0;
    }

    .sidebar-content
    {
        align-items: flex-start;
    }
}
